
*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(red,yellow) 0 100% no-repeat;
    background-size: 100% 50%;


}
.container{
    
    width: 400px;
    padding : 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: 0 15px 35px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
P{
    font-size: 16PX;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: rgb(252, 47, 11);
    border: none;
    outline: none;
    color: white;
    padding: 15px 0;
    width: 150px ;
    letter-spacing: 1px;
    border-radius: 8px;

}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(-8deg);
    }

}